@page "/GeGeocodificacao"
@using Microsoft.Extensions.Localization
@using global::NecnatAbp.Br.GeGeocodificacao.Localization
@inject IStringLocalizer<GeGeocodificacaoResource> L
@{
}
<h1>GeGeocodificacao</h1>
<p>@L["SamplePageMessage"]</p>