@page
@using Microsoft.Extensions.Localization
@using NecnatAbp.Br.GeGeocodificacao.Localization
@using NecnatAbp.Br.GeGeocodificacao.Web.Pages.GeGeocodificacao
@model NecnatAbp.Br.GeGeocodificacao.Web.Pages.GeGeocodificacao.IndexModel
@inject IStringLocalizer<GeGeocodificacaoResource> L

@{
}
<h1>GeGeocodificacao</h1>
<p>@L["SamplePageMessage"]</p>
